<?xml version="1.0"?>
<config>
    <modules>
        <Bluecom_Geoip>
            <version>0.1.0</version>
        </Bluecom_Geoip>
    </modules>
    <global>
        <models>
            <bluecom_geoip>
                <class>Bluecom_Geoip_Model</class>
                <resourceModel>bluecom_geoip_resource</resourceModel>
            </bluecom_geoip>
            <bluecom_geoip_resource>
                <class>Bluecom_Geoip_Model_Resource</class>
            </bluecom_geoip_resource>
            <core>
                <rewrite>
                    <store>Bluecom_Geoip_Model_Core_Store</store>
                </rewrite>
            </core>
            <tax>
                <rewrite>
                    <calculation>Bluecom_Geoip_Model_Tax_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
        <blocks>
            <bluecom_geoip>
                <class>Bluecom_Geoip_Block</class>
            </bluecom_geoip>
        </blocks>
        <helpers>
            <bluecom_geoip>
                <class>Bluecom_Geoip_Helper</class>
            </bluecom_geoip>
        </helpers>
    </global>
</config>