<?xml version="1.0"?>
<config>
    <modules>
        <Bluecom_Fpc>
            <version>0.1.0</version>
        </Bluecom_Fpc>
    </modules>
    <global>
        <models>
            <bluecom_fpc>
                <class>Bluecom_Fpc_Model</class>
                <resourceModel>bluecom_fpc_resource</resourceModel>
            </bluecom_fpc>
            <bluecom_fpc_resource>
                <class>Bluecom_Fpc_Model_Resource</class>
            </bluecom_fpc_resource>
        </models>
        <blocks>
            <bluecom_fpc>
                <class>Bluecom_Fpc_Block</class>
            </bluecom_fpc>
        </blocks>
        <helpers>
            <bluecom_fpc>
                <class>Bluecom_Fpc_Helper</class>
            </bluecom_fpc>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <bluecom_fpc>
                    <file>bluecom/fpc.xml</file>
                </bluecom_fpc>
            </updates>
        </layout>
    </frontend>
</config>